.hidden {
    display: none;
}

body {
    background-image: url("../images/ricky_and_priscilla.jpg");
    color: white;
}

.container {
    background-color: lightgrey;
    opacity: 0.8;
    border-radius: 50px;
    padding-top: 2px;
    padding-bottom: 2px;
}

#poem {
    font-size: 30px;
    color: black;
    text-align: center;
}

.container {
    height: 100%;
    width: 50%;
    margin-left: 25%;
    min-height: 65vh;
}

@media screen and (max-width: 992px) {
    .container {
        width: 80%;
        margin-left: 10%;
    }

    #poem {
        font-size: 30px;
        padding: 15px;
    }
}

@media screen and (max-width: 600px) {
    .container {
        width: 100%;
        margin-left: 0;
    }

    #poem {
        font-size: 20px;
    }
}