@import url('https://fonts.googleapis.com/css?family=Dancing+Script:wght@700&display=swap');

body {
    background-image: url("../images/colors.jpg");
    color: white;
}

#poem {
    font-family: 'Dancing+Script', cursive;
}
