@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');

body {
    background-image: url("../images/fourth_anniversary_background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
}

#poem {
    font-family: 'Dancing+Script', cursive;
}
