@import url('https://fonts.googleapis.com/css?family=Pacifico');

body {
    background-image: url("../images/ricky_and_priscilla.jpg");
    color: white;
}

#poem {
    font-family: 'Gaegu', cursive;
}

.container {
    opacity: 0.9;
}