@import url('https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap');


body {
    background-image: url("../images/gravity_well.jpeg");
    color: white;
}

#poem {
    font-family: 'Lobster Two', cursive;
}
