@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&display=swap');


body {
    background-image: url("../images/third_anniversary_background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
}

#poem {
    font-family: 'Cormorant Garamond', serif;
}
